DOVETAIL_HOST=dovetail.staging.prxu.org
FEEDER_HOST=feeder.staging.prx.tech
METRICS_HOST=metrics.staging.prx.tech
PUBLISH_HOST=publish.staging.prx.tech
UPLOAD_HOST=
PORTER_STATE_MACHINE_ARN=

# leave alone to run tests in dev
STAGING_APPLICATIONS_STACK_STATE=Created

# test fixtures
TEST_PRX_USER=
TEST_PRX_PASS=
TEST_FEEDER_PODCAST=
TEST_FEEDER_EPISODE=
